body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .carousel .slide {
    max-width: 100%;
    height: 32rem;
    margin: 0;
    position: relative;
    text-align: center;
    background: #00000000;
} */

container-fluid text-center text-md-left{
  justify-content: center;
  align-items: center;

}

footer{
  background-color: #3f51b5;
  font-family: 'Arial';
  color: white;
  align-items: center;
  justify-items: center;
  
}

